@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&family=Roboto:wght@100;300&display=swap');
/*menu*/

:root{
    --primary-color: #d563f1;
    --text-color: #eee3ea63;
}
html {
    font-size: 10px;
}
body {
    font-family: Inter, sans-serif;
    background-color: rgb(39, 37, 37);
    color:white;
}
/*nav_menu*/
.page {
    font-family: Inter, sans-serif;
    max-width: 1200px;
    margin: auto;
  }
  
  .header {
    padding: 10px 15px;
    background-color:#252424;
  }
  
  .nav {
    color: var(--primary-color);
  }
  
  .nav .nav__list {
    display: flex;
    justify-content: center;
  }
  
  .nav .nav__item {
    margin-right: 30px;
  }
  .nav .nav__item:hover {
    color: rgb(250, 5, 164);
    transition: .4s ease-in-out all;
  }
  
  @media (max-width: 685px) {
    .nav .nav__item {
      margin-right: 20px;
    }
  }
/*common styles*/
img {
    width: 50%;
}
a {
    text-decoration: none;
    color: white;
}
.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}
.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

/*layouts*/
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #302f2f;
    grid-template-columns:  1fr 1fr;
    gap: 4rem;
}
@media only screen and (max-width: 768px){
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}
.profile {
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
.group-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.header {
    padding: 10px 15px;
    background-color: #353131;
}
*, *::before, *::after {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

/*profile*/
.profile_container{
    display: flex;
    gap: 2rem;
}
.profile_profileImg {
    max-width: 250px;
}
.profile_name_firstname {
    color: rgb(215, 21, 118);
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}
.profile_name_lastname {
    color: rgb(215, 21, 118);
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}
.group-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/* Professional skills*/
.skill_list {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}
/*Code example*/

.title_code {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.solution_code {
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
    font-size: 1.8rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: rgb(250, 13, 100);
}
.group-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/*Education*/
.education {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.title_education{
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 400;
    
}
._education_it {
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 400;
    color: #727172; 
}
.group-1 {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
/*Languages*/
.language_skills {
   margin-top: 2rem;
   font-weight: 400;
}
/*footer*/
.footer {
    padding: 10px 15px;
    background-color: rgb(49, 47, 47);
  }
  
.footer__nav {
    display: flex;
    justify-content: center;
    color: rgb(196, 8, 8);
  }
  
.footer__nav .footer__link {
    margin: auto 40px auto 0;
  }
.footer__nav .footer__term {
    text-align: center;
  }
  
.footer__nav .footer__link:hover {
    color: rgb(216, 21, 125);
    transition: .4s ease-in-out all;
  }
  
.rssLogo{
    width: 80px;
  }
.exp_item{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color)
}
.item_preTitle{
    line-height: 2rem;
    font-size: 1.5rem;
    color:#727172;
}
.it_item {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color)
}
/*contacts*/

.title {
    margin-top: 2rem;
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color); 
}
.title_item_cont {
    margin-top: 2rem;
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color); 
    
}
.cont_item {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text-color)
}
/*projects*/
.title2{
    margin-top: 2rem;
}
.title_item_project {
    margin-top: 2rem;
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color); 
    text-transform: uppercase;
}
.proj_item .it_item {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    color: var(--text-color)
}
._proj_item .it_item {
    font-size: 1.5 rem;
    line-height: 2rem;
    font-weight: 400;
    color: #727172;
    text-transform: uppercase;
}
